.git
.idea
.vscode

package.json
package-lock.json

note-front/node_modules
note-front/dist
note-front/.env.local
note-front/.env.*.local

initialization-note-side/target
initialization-note-side/maven-local-settings.xml
initialization-note-side/src/main/resources/application.yml

docker/.env
docker/docker-compose.yml
docker/config/application-docker.yml

