DB_HOST=postgres
DB_PORT=5432
DB_NAME=note_blog
DB_USERNAME=postgres
DB_PASSWORD=git_upload_db_password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=git_upload_redis_password

JWT_SECRET=git_upload_jwt_secret

AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
AI_API_KEY=sk-xxxxxx
AI_CHAT_MODEL=qwen-plus
AI_EMBEDDING_MODEL=text-embedding-v3

FILE_DOMAIN=http://127.0.0.1:3001/file/
STORAGE_PATH=/app/uploads/

POSTGRES_EXPOSE_PORT=5434
REDIS_EXPOSE_PORT=6379
BACKEND_EXPOSE_PORT=8889
NGINX_EXPOSE_PORT=3001
